* {
  margin: 0;
  padding: 0;
}

/* Navbar style start */
nav {
  background-color: #ffffff;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  padding: 10px 8%;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 24px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #575757;
}

.common-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  font-weight: bold;
  width: 188px;
  height: 48px;
  padding: 12px 12px;
  border-radius: 10px;
  display: grid;
  gap: 12px;
  border: none;
  align-items: center;
}

/* Navbar style End */

/* <!-- Nav section style start --> */

header {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0.2) 70%
    ),
    url("./assets/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: grid;
  color: white;
  text-align: center;
}

.header-content div {
  margin-top: 145px;
  margin-left: 38%;
}

.header-content h1 {
  font-size: 68px;
  font-family: "inter";
  margin-top: 65px;
}

.header-content p {
  font-size: 15px;
  font-family: "Regular";
  margin-top: 20px;
}

/* <!-- Nav section style End --> */

/* Meet section style start */
section {
    margin: 80px 50px 0 50px;
    padding: 0 60px 70px 60px;
}
.card-heading {
    margin-top: 80px;
    padding-bottom: 56px;
    font-family: 24px;
    font-weight: bold;
}
.card-heading {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 55px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card {
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: grid;
    gap: 8px;
}
.card img {
    width: 100%;
    display: block;
    border-radius: 12px;
}
.content {
    display: grid;
    gap: 8px;
    padding: 20px 0 20px 16px;
}
.content h5 {
    font-weight: 600px;
    font-size: 12px;
    color: #1d4ed8;
}
.content h2 {
    font-weight: bold;
    font-size: 20px;
}
.content p {
    font-size: 14px;
}

/* Meet section style end */

/* Pricing section style start */
/* .pricing-box h2 {
    text-align: center;
    margin-bottom: 12px;
}
.pricing-box > p {
    text-align: center;
}
.pricing-box {
    text-align: center;
    padding: 60px 20px;
}

.pricing-card-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.price-card {
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: center;
}

.price-card h1 {
    font-size: 3rem;
    margin: 15px 0;
}

.price-card ul {
    text-align: left;
    padding-left: 20px;
}

.price-card button {
    margin-top: 20px;
    padding: 12px 24px;
    cursor: pointer;
} */